{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h3 class="title-bg">{{ news.getName() }} </h3>
        <div class="post-content">
            <div class="post-body">
                <p>
                    {{ news.getDescription() }}
                </p>
            </div>

            <div class="post-summary-footer">
                <ul class="post-data">
                    <li><i class="icon-eye-open"></i>{{ news.numberOfViews }}</li>
                    <li><i class="icon-calendar"></i> {{ news.createdAt }}</li>
                    <li><i class="icon-user"></i>{{ news.user }}</li>
                </ul>
            </div>
        </div>
    </article>
{% endblock %}

{% block rigthMenu %}
    <h5 class="title-bg">Similar News</h5>
    <ul class="post-category-list">
        {% for similarNews in similar %}
            <li>
                <article>
                    <div class="post-content">
                        <h4 class="title-bg" style="font-size: medium">{{ similarNews.getName() }} </h4>
                        <div class="post-body" style="font-size: small">
                            <p>
                                {{ similarNews.getDescription()|descriptionFilter() }}
                            </p>
                        </div>
                        <div class="post-summary-footer">
                            <button class="btn btn-small btn-inverse" type="button"><a
                                        href="{{ path('news', {'newsId': similarNews.id}) }}">Read more</a>
                            </button>
                        </div>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ul>
{% endblock %}