{% extends 'base.html.twig' %}


{% block title %}
    {{ 'denied'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'denied'|trans }}(403)</h1>
    <p>
        {{ 'denied.text'|trans }}. <a href="{{ path('homepage') }}">{{ 'return.homepage'|trans }}</a>.
    </p>
{% endblock %}