{% extends 'base.html.twig' %}

{% block title %}{{ 'categories.list'|trans }}{% endblock %}

 {% block javascripts %}
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="{{ asset('js/ajaxGrid.js') }}" type="text/javascript"></script>
 {% endblock %}
{% block body %}
    <div class="admin-category">
        <h1 class="text-center">{{ 'categories.list'|trans }}</h1>
        <button class="btn btn-small btn-inverse" type="button"><a
                    href="{{ path('category_create') }}">{{ 'create.new'|trans }}</a></button>
        <div id="entities-grid">
        </div>
        <div id="pagination-wrapper" class="zui-pager col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
        </div>
    </div>
    <script>
        $("#entities-grid").ajaxgrid({
            dataUrl: "/ajax/category",
            editUrl: "/{{ app.request.getLocale() }}/category/edit/",
            columsName: ["{{ 'id'|trans }}", "{{ 'category.name'|trans }}",
                "{{ 'parent.category'|trans }}", "{{ 'edit'|trans }}"], //Translations
            sortableColumns: ["id", "name", "parentCategory"],
            filterableColumns: ["id", "name", "parentCategory"],
            rowsPerPage: 5,
            key: 'category'
        });
    </script>
{% endblock %}
{% block rigthMenu %}
{% endblock %}
{% block search %}
{% endblock %}