{% extends 'base.html.twig' %}

{% block title %}Sign In{% endblock %}
{% block body %}
    <div class="main-container pagination-centered form-group">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('user_login') }}" method="post">
            <label class="control-label" for="username" value="Email">Email</label>
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"/>
            <label class="control-label" for="password">Password</label>
            <input type="password" id="password" name="_password" class="form-control" />
            <label class="control-label"></label>
            <button type="submit" class="form-control btn-success">Sign In</button>
        </form>
            <a href="{{ path('user_register') }}">
                Create new Account
            </a>
            or
            <a href="{{ path('user_recovery_view') }}">
                Forgot the password?
            </a>
    </div>
{% endblock %}

