{% extends 'base.html.twig' %}


{% block title %}Recovery{% endblock %}

{% block body %}
    <div class="container form-group">

        {{ form_start(form) }}

        {{ form_row(form.email, {'attr': {'class': 'form-control'},
            'label_attr': {'class': 'control-label'}
        }) }}

        <button type="submit" class="form-control btn-success">Recovery</button>
        {{ form_end(form) }}
        <div class="container">
            <a href="{{ path('user_login') }}">
                Sign In Page
            </a>
            or
            <a href="{{ path('user_register') }}">
                Create new Account
            </a>
        </div>
    </div>
{% endblock %}