{% extends 'base.html.twig' %}
{% block title %}{{ 'search'|trans }}{% endblock %}
{% block body %}

    {% for qnews in  news %}
        <article>
            <div class="post-summary">
                <h3 class="title-bg">{{ qnews.name }}</h3>
                <p>
                    {{ (qnews.description|descriptionFilter()) }}

                </p>
                <div class="post-summary-footer">
                    <button class="btn btn-small btn-inverse" type="button"><a
                                href="{{ path('news', {'newsId': qnews.id}) }}">{{ 'post.more'|trans }}</a></button>
                    <ul class="post-data">
                        <li><i class="icon-eye-open"></i>{{ qnews.numberOfViews }}</li>
                        <li><i class="icon-calendar"></i> {{ qnews.createdAt }}</li>
                        <li><i class="icon-user"></i>{{ qnews.user }}</li>
                    </ul>
                </div>
            </div>
        </article>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(news) }}
    </div>
{% endblock %}

{% block rightMenu %}

{% endblock %}
